// UTILITY CLASSES:
// flex, flex-row, flex-wrap, blur, validation, transition, gap-# 8, 16 (none), 24, 32
// Padding: pad-# 8, 16 (none), 24, 32; Padding-Inline: pad-inline
// Border-radius: round-# 8, 12, 16 (none), 24, 32
// Margin: mar, mar-inline (16), mar-auto
// (# - pixel value)

@use 'mixins' as *;
@use 'components';

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

*::before,
*::after {
  color: inherit;
}

a,
button,
[role='button'],
svg,
select {
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

a *,
button *,
[role='button'] *,
svg * {
  cursor: inherit;
  transition: all 0.3s ease;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
  border-color: black;
}

label {
  cursor: pointer;
}

input:disabled,
textarea:disabled {
  opacity: 1 !important; // for iOS
}

ul:not(.default-ul),
ol:not(.default-ol) {
  list-style-type: none;
}

.default-ul,
.default-ol {
  text-align: left;
  list-style-position: inside;
}

:where(h1, h2, h3, h4, h5, p) {
  cursor: default;
}

:where(img) {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: initial;
}

:where(hr) {
  width: 100%;
  @include gray-border;
}

:where(code) {
  font-family: monospace;
  @include gray(0.1);
}

:where(b) {
  font-weight: bold;
  color: $white;
  @include text-shadow;
}

/* GENERAL STYLING */

a {
  position: relative;
  text-decoration: none;
  @include cyan(0.9, text);

  // Customizable underline variables
  $u-thickness: 2px;
  $u-offset: 0.1em; // distance below text

  &:not(.nohover-link, .button-anchor) {
    white-space: nowrap; // prevent line breaks
  }

  &:not(.nohover-link, .button-anchor)::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(-1 * $u-offset);
    height: $u-thickness;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s ease-in-out;
    pointer-events: none;
  }

  &:not(.nohover-link, .button-anchor):hover::after,
  &:not(.nohover-link, .button-anchor):focus-visible::after {
    transform: scaleX(1);
    @include cyan(1, text);
    // transform-origin: left; // expand from left
  }

  // When mouse leaves: shrink to the right
  &:not(.nohover-link, .button-anchor):not(:hover)::after {
    transform: scaleX(0);
    // transform-origin: right;
  }
}

html {
  text-align: center;
  padding-block: 6rem 1.5rem;
  letter-spacing: 0.025rem;
  word-spacing: 0.2em;
  background-color: black;

  @include cyan(0.85, 'text');
  @include font;

  &::-webkit-scrollbar {
    width: 0px;
  }

  // UTILITY CLASSES

  main,
  :where(.flex) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .flex-row {
    @extend .flex;
    flex-direction: row;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .gap-8 {
    gap: 0.5rem;
  }

  .gap {
    gap: 1rem;
  }

  .gap-24 {
    gap: 1.5rem;
  }

  .gap-32 {
    gap: 2rem;
  }

  .blur {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  .pad-8 {
    padding: 0.5rem;
  }

  .pad {
    padding: 1rem;
  }

  .pad-24 {
    padding: 1.5rem;
  }

  .pad-32 {
    padding: 2rem;
  }

  .pad-inline {
    padding-inline: 1.5rem;
  }

  .round-8 {
    border-radius: 0.5rem;
  }

  .round-12 {
    border-radius: 0.75rem;
  }

  .round {
    border-radius: 1rem;
  }

  .round-24 {
    border-radius: 1.5rem;
  }

  .round-32 {
    border-radius: 2rem;
  }

  .mar {
    margin: 1rem;
  }

  .mar-inline {
    margin-inline: 1rem;
  }

  .mar-auto {
    margin-inline: auto;
  }

  .validation {
    text-transform: uppercase;
    @include font(small);

    a {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      filter: brightness(125%);
      text-decoration: underline;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }

  .transition {
    transition: all 0.3s ease;
  }

  .vert-scrollbar {
    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(51, 226, 230, 0.25),
        rgba(0, 0, 0, 0)
      );
      border-radius: 0.5rem;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:active {
      background: rgba(51, 226, 230, 0.25);
    }
  }

  .drag-handle {
    cursor: grab;
    user-select: none;
    padding-inline: 0.25rem;
    font-size: 1.25rem;
  }

  .container {
    @extend .flex;
    @extend .blur;
    @extend .pad-24;
    @extend .round;
    width: clamp(250px, 90%, 50rem);
    max-width: 90rem;
    // box-shadow: $shadow-plus-inset-glow;
    animation: dark-glowing 15s ease infinite;
    margin-inline: auto;
    @include gray-border;
  }

  .transparent-container {
    @extend .container;
    animation: transparent-glowing 15s ease infinite;
  }

  .opaque-container {
    @extend .container;
    animation: dark-glowing-opaque 15s ease infinite;
  }

  .pc-only {
    display: none;

    @include respond-up(tablet) {
      display: block;
    }
  }

  .mobile-only {
    display: block;

    @include respond-up(tablet) {
      display: none;
    }
  }

  .progress-bar {
    position: relative;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: 100%;
      border-radius: inherit;
      @include cyan;
    }
  }

  // For screen readers
  .sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
}
